/* General Styles */
body {
    background-color: rgb(123, 243, 227);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::selection {
    color: rgba(13, 9, 243, 0.856);
    background: rgb(58, 255, 19);
}

/* Container Styling */
.container {
    max-width: 500px;
    min-width: 500px;
    border: 3px solid white;
    border-radius: 23px !important;
}

/* Typography */
.display-6 {
    font-weight: 600;
    color: rgb(250, 209, 181);
}

/* Buttons and Inputs */
#showselectEl,
#specificchars {
    width: 250px;
}

#specificchars {
    width: 270px;
}
